body{
    /* letter-spacing: 3px; */
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 0%;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}



#preloader {
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

/*Battery*/
.loder-box {
  background-color: rgba(0, 0, 0, 0.02);
  border-radius: 1px;
  height: 100px;
  left: 50%;
  margin-left: -64px;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  width: 128px;
}

.battery{
    width: 60px;
    height: 25px;
    top: 35%;
    border: 1px #2E2E2E solid;
    border-radius: 2px;
    position: relative;
    -webkit-animation: charge 5s linear infinite;
       -moz-animation: charge 5s linear infinite;
            animation: charge 5s linear infinite;
    margin: 0 auto;
}

.battery:after {
  background-color: #2E2E2E;
  border-radius: 0 1px 1px 0;
  content: "";
  height: 10px;
  position: absolute;
  right: -5px;
  top: 7px;
  width: 3px;
}

@-webkit-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@-moz-keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}

@keyframes charge{
    0%{box-shadow: inset 0px 0px 0px #2E2E2E;}
    100%{box-shadow: inset 60px 0px 0px #2E2E2E;}
}













.samdos{
    margin:15px 20px; transform:translateX(-300px); font-size: 20px; cursor: pointer;
}.samdos-top{
    margin-top: 50px;
}
.my_p{
    letter-spacing: 1px; line-height: 30px;
}
.about-border{
    border-right: 1px transparent black;
    border-right-style: groove;

}
.mytable{
    font-size: 20px;
}.myselect{
    /* padding: 10px; */
    height: 50px;
    border-radius: 5px;
    background: white;
}
.myoption{
    /* height: 50px; */
}
.myselect2{
    visibility: hidden;
}
option{
    padding: 20px;
}.past-questions{
    margin: 5px 5px 5px 5px;
    cursor: pointer;
}
.document{
    width: 100%;
    height:580px;
    margin: 30px 0px;
}.advert{
    font-weight: bold;
    margin: 30px 50px;
}

        /* Notice Board */
.notice{
    height: 350px; width: auto;
    background: rgb(161, 50, 10);
    border: 10px solid black;
    border-radius: 10px;
}.notice>h3{
    line-height: 35px;
    text-align: left;
}


  /*-- bottom-to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 26px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: none;
    text-indent: 100%;
    background: url("../images/arr.png") no-repeat 0px 0px;
    background-size: 40px;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
@media screen and (max-width: 1068px) {
    .document{
        height: 450px;
    }.samdos{
        transform:translateX(-190px); font-size: 70px;
    }.samdos-top{
        margin-top: 100px;
    }
    .about-border{
        border: none;
    }
  }
@media screen and (max-width: 868px) {
    .document{
        height: 450px;
    }.samdos{
        transform:translateX(-80px); font-size: 20px;
    }.samdos-top{
        margin-top: 100px;
    }
    .about-border{
        border: none;
    }
  }