            <div class="row my-5 mx-0" style="cursor: pointer;">
                <div class="col-md-6 red" style="height: 150px;"><br>
                    <h1 class="white-text advert h1-responsive">Advertize with us</h1>
                </div>
                <div class="col-md-6" style="height: 150px;">
                    <h1 class="purple-text text-center h4-responsive"> <b>Do you know???</b> <br> <br> <span class="h1-responsive red-text"><b>JESUS LOVES YOU</b></span><br><span class="h4-responsive blue-text"><b>SO MUCH!!!</b></span></h1>
                </div>

            </div>