            <div class="row" style="cursor: pointer; margin: 10px 0px;">
                <div class="col-md-6 red" style="height: 150px;"><br>
                    <h1 class="white-text advert">Advertize with us</h1>
                </div>
                <div class="col-md-6" style="height: 150px;"> <br>
                    <h1 class="purple-text text-center h5"> <b>Did you know???</b> <br> <br> <span class="h1 red-text"><b>JESUS LOVES YOU</b></span><br><span class="h4 blue-text"><b>SO MUCH!!!</b></span></h1>
                </div>

            </div>