<footer class="my-5 white p-5 mx-auto d-flex align-item-center justify-content-center col-10 rounded">
    <center>
        <h6 style="font-weight:bold;" class="black-text font-weight-bold">© Copyright 2019<a href="http://samdos.herokuapp.com" class="red-text"> - 1.8v Sheygun Technology <br>All Right Reserved</a></h6>
    </center>
    </footer>