<head>


        <meta name="google-site-verification" content="yXhnZ5jr1MOkOsDMsPhs-OPfovJtkMa5sVGSVlm4Kck" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name = "theme-color" content="black">
        <meta name = "msapplication-navbutton-color" content="black">
        <meta name = "apple-mobile-web-app-status-bar-style" content="black">

        <title>Samdos Express Technology ::: designed by Sheygun</title>
        <link rel="shortcut icon" href="stylesheets/images/logo.jpg">


        <link href="stylesheets/css/bootstrap/bootstrap.min.css" rel="stylesheet">

        <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
        <link href="stylesheets/css/mdb.css" rel="stylesheet">

        <link href="stylesheets/css/sb-admin.css" rel="stylesheet">
        <link rel="stylesheet" href="stylesheets/css/style.css">

        <link href="stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <meta name="google-site-verification" content="yXhnZ5jr1MOkOsDMsPhs-OPfovJtkMa5sVGSVlm4Kck" />
              <link rel="stylesheet" href="stylesheets/css/animate.css">
              <link rel="stylesheet" href="stylesheets/css/media-queries.css">
              <script src="stylesheets/js/jquery-1.11.1.min.js"></script>
            <script>
                   jQuery(document).ready(function(){
	                  $("#preloader").fadeOut("slow");
                   });
            </script>
            <meta name="google-site-verification" content="yXhnZ5jr1MOkOsDMsPhs-OPfovJtkMa5sVGSVlm4Kck" />

    </head>
