<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/css/mdb.min.css" rel="stylesheet">
    <link href="stylesheets/css/mdb.css" rel="stylesheet">

    <link href="stylesheets/css/sb-admin.css" rel="stylesheet">
    <link href="stylesheets/css/plugins/morris.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/css/style.css">

    <link href="stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <title>Samdos Express Technology ::: designed by Sheygun</title>
          <link rel="stylesheet" href="stylesheets/css/animate.css">
          <link rel="stylesheet" href="stylesheets/css/media-queries.css">
          <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
          <link rel="stylesheet" type="text/css" href="stylesheets/css/switcher.css" media="screen" />
          <link rel="stylesheet" href="stylesheets/css/fractionslider.css"/>
          <link rel="stylesheet" href="stylesheets/css/style-fraction.css"/>



</head>